language: generic
dist: xenial

env:
  global:
  - PATH="/opt/chefdk/bin:/opt/chef/bin:/opt/chef/embedded/bin:/opt/chefdk/embedded/bin:$PATH"
  matrix:
  - COOKBOOK_PATH="cookbooks"
  - COOKBOOK_PATH="community-cookbooks"

addons:
  apt:
    sources:
    - sourceline: "deb https://packages.chef.io/repos/apt/current xenial main"
      key_url:  "https://%{app_host}/files/gpg/chef-current-trusty.asc"
    packages:
    - chefdk

script: ./runtests
