language: generic
dist: xenial

env:
  global:
  - PATH="/opt/chef-workstation/bin:/opt/chef/bin:/opt/chef/embedded/bin:/opt/chef-workstation/embedded/bin:$PATH"
  matrix:
  - COOKBOOK_PATH="cookbooks"
  - COOKBOOK_PATH="community-cookbooks"

before_script:
- curl https://omnitruck.chef.io/install.sh | sudo bash -s -- -P chef-workstation -v 21.10.640

script:
  - ./runtests
