organization = "Travis"

# The organizational unit of the subject.
#unit = "Testing Unit."

# The state of the certificate owner.
#state = "XX"

# The country of the subject. Two letter code.
#country = XX

# The common name of the certificate owner.
cn = "Travis MySQL CA"

# The serial number of the certificate. Should be incremented each time a new certificate is generated.
serial = 001

# In how many days, counting from today, this certificate will expire.
expiration_days = 7200

# Whether this is a CA certificate or not
ca

# Whether this key will be used to sign other certificates.
cert_signing_key

# Whether this key will be used to sign CRLs.
crl_signing_key
