organization = "Travis"

# The organizational unit of the subject.
#unit = "sleeping dept."

# The state of the certificate owner.
#state = "XX"

# The country of the subject. Two letter code.
#country = XX

# The common name of the certificate owner.
cn = "Travis MySQL client"

# A user id of the certificate owner.
#uid = "scertowner"

# The serial number of the certificate. Should be incremented each time a new certificate is generated.
serial = 009

# In how many days, counting from today, this certificate will expire.
expiration_days = 7200

# X.509 v3 extensions

tls_www_server
tls_www_client

